{% extends "base.html" %} {% set active_page = "lines" %} {% block title
%}Chat with Cartman{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block
page_content %}
<h1 class="cap">Chat with Cartman</h1>
{% if conversation %}
{% for que, answ in conversation %}
    <div class="text-primary">You: {{que}}</div>
    <div class="text-danger">Cartman: {{answ}}</div>
    
{% endfor %}
{% endif%}
</br>
</br>
<form method="post" id="user_line">
  <div class="mb-3">
    <label for="user_line" class="form-label text-secondary">Write something:</label>
    <textarea class="form-control" name="user_line" id="user_line"  rows="3"></textarea>
  </div>
  
  <button type="submit" class="submit btn btn-primary btn-xl">Submit</button>
</form>
</br>

{% endblock %} {% block scripts %} {{ super() }} {% endblock %}